<hr>
<div class="panel clearfix" *ngFor="let config of influxConfigs">
  <div class="card">
    <div class="panel-heading clearfix">
      <h3 class="pull-left" style="margin: 5px 0;"> {{config.provider}} - <small> Feed Last Ran {{config.lastRan}} </small></h3>
      <a class="btn btn-primary pull-right" [href]="getDnaLink()" target="_blank"> Edit Config </a>
      <div class="provider-info" style="clear: both">
        <h4 *ngIf="config.providerid != false">
          Provider ID: <b> {{config.providerid}} </b>
        </h4>
        <h4 *ngIf="config.filename != false">
          File Name: <b> {{config.filename}} </b>
        </h4>
      </div>
    </div>


    <div class="panel-subheading">
      <a class="btn btn-primary" *ngFor="let type of config.inventory_types">
        <div (click)="routeToVehicles(type.type,type.classification)"> {{type.name}} ({{type.count}}) </div>
      </a>
    </div>
    <hr>
    <div class="panel-body">
      <div class="feedWins clearfix">
        <div class="title clearfix" style="margin-bottom: 30px">
          <h4 class="pull-left"> <b>Feed Wins </b> | </h4>
          <h5 class="pull-left" style="margin-left: 5px; margin-top: 11px; font-size: 16px;"><b style="color: green;">Green Items </b> Indicate Feed Overrides on Inventory Data</h5>
        </div>
        <div class="feedWins-item" *ngFor="let wins of config.feedWins">
          <small class="col-md-2" [class.active]="wins.value">{{wins.key}} </small>
        </div>
      </div>
      <hr>
      <div class="scrubAtts clearfix">
        <div class="title clearfix" style="margin-bottom: 30px">
          <h4 class="pull-left"> <b>Vin Decoding </b> | </h4>
          <h5 class="pull-left" style="margin-left: 5px; margin-top: 11px; font-size: 16px;"><b style="color: green;">Green Items </b> Indicate Fields Being Vin Decoded</h5>
        </div>
        <div class="scrubAtts-item" *ngFor="let atts of config.scrubAtts">
          <small class="col-md-2" [class.active]="atts.value">{{atts.key}}</small>
        </div>
      </div>


      <hr>
      <div class="alert alert-warning" *ngIf="filters.length == 0">
        <strong>Warning!</strong> Filter(s) may be present!
      </div>

      <div class="row">
        <div class="influxFilterButtons">
          <a class="btn btn-info influxFeed" [routerLink]="[config.provider]">Show Feed</a>
          <!-- <div class="filterToggleButton" *ngIf="config.hasFilter"> -->
          <!-- <a class="btn btn-success" *ngIf="(!showFilter && config.hasFilter)" (click)="toggleFilterDisplay()">Show Filters</a>
               <a class="btn btn-danger" *ngIf="(showFilter && config.hasFilter)" (click)="toggleFilterDisplay()">Hide Filters</a> -->
          <!-- <div class="filterToggleButton" *ngIf="filters.length == 0"> -->
            <a *ngIf="hideFilters" class="btn btn-success" (click)="showFilters(config.provider)">Show Filters</a>
            <a *ngIf="!hideFilters" class="btn btn-danger" (click)="hideFilterToggle()">Hide Filters</a>
          <!-- </div> -->
        </div>
      </div>
      <div *ngIf="(filters.length > 0 && !hideFilters)">
        <div class="filterDisplay" *ngFor="let filter of filters; let i = index">
          <div *ngIf="filter.parser == config.provider">
            <h3> Filter - {{i + 1}} | {{filter.parser}}</h3>
            <div>
              <p><b>{{filter.task}}</b></p>
              <p style="white-space: pre-wrap;">{{filter.filter}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loadingIndicator">
  <div class="row" style="clear: both;">
    <sk-folding-cube></sk-folding-cube>
  </div>
</div>
