.form-control { width: 95%; margin: 0 auto; }
.row.dealersearch h2 { position: relative; left: 38px; }
.searchtip { font-size: 15px; font-style: italic; font-weight: 300; }
.noaddresspipe, .noaddresscomma { display: none; }
.noAccountFound { padding: 5px; font-weight: bold;}
