.feedWins .col-md-2.active, .scrubAtts .col-md-2.active {
    color: green; 
    font-weight: bold; 
    font-size: 1.1em;
}

.feedWins .col-md-2,
.scrubAtts .col-md-2  {
     font-size: 1.1em;
     color: #ccc;
}

.panel-subheading{
   padding-left: 10px;
}

.panel-subheading span {
    background: #337ab7; 
    color: #fff;
    margin: 5px; 
    padding: 5px; 
    border-radius: 5px;
    font-size: 12px;
}

.nav .type.heading h3 { font-weight: bold; }
.row.name h3 { font-style: italic; }