.feedWins .col-md-2.active, .scrubAtts .col-md-2.active {
    color: green;
    font-weight: bold;
    font-size: 1.1em;
}

.feedWins .col-md-2,
.scrubAtts .col-md-2  {
     font-size: 1.1em;
     color: #ccc;
}

.panel-subheading{
   padding-left: 10px;
}

.panel-subheading span {
    background: #337ab7;
    color: #fff;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.nav .type.heading h3 { font-weight: bold; }
.row.name h3,.name.accountName { font-style: italic; }

.nav a.btn.New {
    background-color:#5bc0de;
    border-color:#5bc0de;
}
.nav a.btn.New:hover {
    background-color:#3F869B;
    border-color:#3F869B;
}
.panel-sub small {
    font-size:100%;
}
.goodBad {
    margin-top:15px;
}
.cc-btns {
    font-weight:bold;
}

.title {
    margin-bottom: 0;
}
.pageWrapper {
  background: #fafafa;
  height: 100%;
  position: absolute;
  right: 0;
  overflow:hidden;
  bottom: 0;
  overflow-x: hidden;
  width: 100%;
}

.header-nav {
  background: #E1E6EF;
  z-index: 9;
  border-top: 1px solid rgba(0, 0, 0, .12);
  overflow: visible;
}

.header-nav i {
  margin-right: 10px;
}

.header-nav .count {
  margin-left: 10px;
}

.pos-relative {
  position: relative;
  height: 100%;
  width: 100%;
}

.active,
.active:focus, .active:hover {
  background: #fafafa !important;
}

.active {
    border: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 0;
    /* opacity: 1;
    height: 50px;
    top: 1px;
    */
}
 .secondary-row span {
   color: #636879;
   margin: 0 5px;
 }

 .secondary-row span:not(:last-child):after {
   content: "/";
   margin-left: 10px;
 }

 .secondary-row i {
   margin-right: 10px;
 }

  .single-header {
    height: 60px;
    min-height: 60px;
  }

.pos-relative {
  height: 100%;
}

.loading {
      display: block;
      height: 5px;
      overflow: hidden;
      position: absolute;
      transition: opacity 250ms linear;
      width: 100%;
      z-index: 99999999999;
      top: -3px;
      right: 0;
      width: 100%;

}


.mat-tab-link {
  padding: 0 7px;
  min-width: 151px;
}