<div class="row dealersearch">
  <h2> Search for Dealer by Account ID or Dealership Name </h2>
  <hr>
  <input type="text" class="form-control" placeholder="Search..." name="srch-term" id="srch-term" [(ngModel)]="value" (keypress)="searchTerm$.next($event.target.value); loadingInit();">
</div>
<div class="accountList" style="margin: 20px 0;" *ngIf="value != undefined">
  <div class="panel">
    <div class="panel-body clearfix">
      <div class="col-md-2">
        <b> Account Name </b>
      </div>
      <div class="col-md-2">
        <b> Account Id </b>
      </div>
      <div class="col-md-1">
        <b> Public Url </b>
      </div>
      <div class="col-md-1">
        <b>Internal Url</b>
      </div>
      <div class="col-md-4">
        <b>Address</b>
      </div>
      <div class="col-md-2">
        <b>Links</b>
      </div>
    </div>
  </div>
  <div class="account-item panel" *ngFor="let account of accounts | filter:value">
    <div class="panel-body clearfix">
      <div class="col-md-2">
        {{account.name}}
      </div>
      <div class="col-md-2">
        {{account.accountId}}
      </div>
      <div class="col-md-1">
        <a *ngIf="account.publicUrl != 'http://'" [href]="account.publicUrl" target="_blank"> <b> Public Url </b> </a>
        <span *ngIf="account.publicUrl == 'http://'" style="color: red;"> Public Url </span>
      </div>
      <div class="col-md-1">
        <a [href]="account.internalUrl" target="_blank"> <b> Internal Url </b> </a>
      </div>
      <div class="col-md-4">
        {{account.address1}} | {{account.address2}} {{account.city}}, {{account.state}} {{account.zip}} {{account.country}}
      </div>
      <div class="col-md-2">
        <div class="col-md-6" style="padding: 3px;">
          <a class="btn btn-small btn-primary" style="padding: 3px; font-size: 12px; display: block; width: 100%;" [routerLink]="[account.accountId]"> Influx Configs </a>
        </div>
        <div class="col-md-6" style="padding: 3px">
          <a class="btn btn-small btn-primary" style="padding: 3px; font-size: 12px; display: block; width: 100%" [routerLink]="[account.accountId + '/vehicles/0/0']"> Vehicles </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loadingIndicator clearfix">
  <sk-folding-cube></sk-folding-cube>
</div>