.row.dealersearch { border: 1px solid; height: 155px; border-radius: 5px; box-shadow: 10px 10px 5px #888888; }
.form-control { width: 95%; margin: 0 auto; }
.row.dealersearch h2 { position: relative; left: 38px; }