<div #myInput class="vehicleCarouselContainer">
<div class="vehicle-images">
  <div class="carouselVehicleImageContainer">
    <carousel [(activeSlide)]="imgIndex" [interval]="false">
      <slide class="vehicle-image" *ngFor="let image of vehicleImages">
        <img [src]="getImageSrc(image,account)" onerror='this.src="../assets/no_image.jpg"' />
      </slide>
    </carousel>
  </div>
  <div class="carouselVehicleThumbnailsContainer">
    <span class="col-xs-2 vehicleThumbnail" *ngFor="let image of vehicleImages; let thumbnailIndex = index" [ngClass]="{ 'active': thumbnailIndex == imgIndex }">
       <img (click)="imgIndex=thumbnailIndex" [src]="getImageSrc(image,account)" style="width:100%">
    </span>
  </div>
</div>
</div>
