
.navbar.navbar-default {
    background-color:#2e353d;
    border-color:#2e353d;
    border-radius:0;
}
.nav.navbar-nav.navbar-right {
    margin-right:10px;
}
@media (max-width: 767px) {
  .navbar-default.navbar-fixed-top {
    display:none;
  }
}

.navbar-default.navbar-fixed-top {
    z-index:2;
}

.brand.hvr-underline-reveal {
    position: relative;
    top: 5px;
}
.brand.hvr-underline-reveal .headerTitle {
    text-decoration: none;
    font-size: 24px;
    color: #5bc0de;
    position: relative;
    top: 2px;
    font-family:verdana;
}

#navbarSarchBarContainer {width: calc(100% - 8px); z-index: 2; left: 0; top: 0; 
padding: 5px 30px; padding-left: 320px; overflow-x: hidden;  }

.header {
    display:block;
    background: #2E353D;
    position:static;
}
