.headerButtons .btn {
    margin-left:5px;
    margin-top:7px;
}
.navbar.navbar-default {
    background-color:#2e353d;
    border-color:#2e353d;
    border-radius:0;
}
.nav.navbar-nav.navbar-right {
    margin-right:10px;
}
@media (max-width: 767px) {
  .navbar-default.navbar-fixed-top {
    display:none;
  }
}
#navbarSarchBarContainer,
#navBarButtonsContainer {
  float:left;
}
#navbarSarchBarContainer { padding-right: 0;}
/*
.btn-group.headerButtons {
    margin-left: 285px;
}*/

.navbar-default.navbar-fixed-top {
    z-index:2;
}