#vehicleMediaContainer .vehicle-image { display:inline-block; }
#vehicleMediaContainer { width:100%; text-align: center;}
#vehicleMediaContainer.collapsed { max-height: 240px; overflow:hidden;}
#vehicleDetailsContainer li { list-style: none;}
#vehicleDetailsContainer,
#vehicleMediaContainer,
#vehiclePricingContainer { border:1px solid #000; margin-bottom: 10px; border-radius: 10px; }
#single-vehicle-expand { cursor: pointer; text-align:center; font-weight:bold; font-size:14px;}
#vehicleMediaContainer .vehicle-image img { width:200px; margin:5px;}
#single-vehicle-expand { margin-bottom: 10px; }
.vehicleDetailsModal { position:fixed; right:0; left:auto; width:45%; }
.vehicleDetailsModal .modal-dialog { width:auto; padding-left:20px; height:100%; margin-bottom:0; margin-top:0;}
.vehicleDetailsModal .modal-dialog .modal-content { height:100%; overflow-y:scroll; }
.single-vehicle-info, .single-vehicle-vehicle-pricing, .single-vehicle-details-heading { margin-left: 5px; }
.single-vehicle-info, .single-vehicle-vehicle-pricing { margin-bottom: 7px; }
.single-vehicle-details-heading, .single-vehicle-pricing-heading, .single-vehicle-images-heading h5 { text-decoration: underline; }
.vin, .stock, .comments, .pricing { font-style: italic; }
.btn-danger { margin-bottom: 10px; }
.modal-title { font-weight: bold; }