<div id="vehicleDetailsModal" [config]="{ show: true, backdrop: false }" [@dialog]="state" (onHidden)="closeVehicleInfo()" bsModal #autoShownModal="bs-modal" class="modal custom-fade-in-left" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-container">
      <button type="button" class="btn-danger modal-close-btn close" (click)="closeVehicleInfo()" aria-label="Close">
        <span class="icon modal-close-icon ">&times;</span>
        <span class="modal-close-text">Close</span>
      </button>
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{item.year}} {{item.make}} {{item.model}} {{item.trim}}</h4>
      </div>
      <div class="modal-body">

        <div id="vehicleMediaContainer" [ngClass]="{ 'expanded': isImageContainerExpanded, 'collapsed': !isImageContainerExpanded }" class="modal-section" (click)="toggleState()">
          <div class="single-vehicle-images-heading">
            <h5>Vehicle Images</h5>
          </div>
          <div class="vehicle-images">
            <div class="vehicle-image" *ngFor="let image of item.image">
              <img [src]="getImageSrc(image,item.accountId)" onerror='this.src="../assets/no_image.jpg"' />
            </div>
          </div>
        </div>

        <div id="vehiclePricingContainer" class="modal-section">
          <div class="single-vehicle-vehicle-pricing">
            <div class="single-vehicle-pricing-heading">
              <h5>Pricing Data</h5>
            </div>
            <span class="pricing">retailValue:</span> {{item.retailValue}} <br> <span class="pricing">invoicePrice:</span> {{item.invoicePrice}} <br> <span class="pricing">askingPrice:</span> {{item.askingPrice}}
            <br> <span class="pricing">wholesalePrice:</span> {{item.wholesalePrice}} <br> <span class="pricing">internetPrice:</span> {{item.internetPrice}} <br> <span class="pricing">msrp:</span> {{item.msrp}}
            <br> salePrice: {{item.salePrice}}
          </div>
        </div>
        <div id="vehicleOverviewContainer" class="modal-section"></div>
        <div id="vehicleDetailsContainer" class="modal-section">
          <div class="single-vehicle-details-heading">
            <h5>Vehicle Details</h5>
          </div>
          <div class="single-vehicle-info">
            <li><span class="vin">VIN:</span><span class="value"> {{item.vin}}</span></li>
            <li><span class="stock">Stock Number:</span><span class="value"> {{item.stockNumber}}</span></li>
            <li><span class="stock">Type:</span> <span class="type">{{item.type}}</span></li>
            <li><span class="stock">Classification:</span><span class="value"> {{item.className}}</span></li>
            <div *ngIf="item.certified>0">
              <li><span class="stock">Certified:</span><span class="value"> Yes</span></li>
            </div>
            <li><span class="stock">Year:</span><span class="value"> {{item.year}}</span></li>
            <li><span class="stock">Make:</span><span class="value"> {{item.make}}</span></li>
            <li><span class="stock">Model:</span><span class="value"> {{item.model}}</span></li>
            <li><span class="stock">Trim:</span><span class="value"> {{item.trim}}</span></li>
            <li><span class="comments">Comments:</span><span class="value"> {{item.comments}}</span></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
