#vehicleMediaContainer .vehicle-image { display:inline-block; }
#vehicleMediaContainer { width:100%; text-align: center;}
#vehicleMediaContainer.collapsed { max-height: 240px; overflow:hidden;}
#vehicleDetailsContainer li { list-style: none;}
#vehicleDetailsContainer,
#vehicleMediaContainer,
#vehiclePricingContainer { border:1px solid #000; margin-bottom: 10px; }
#single-vehicle-expand { cursor: pointer; text-align:center; font-weight:bold; font-size:14px;}
