.datatable-row-odd {background: #ddd;}

.dataTable {position: relative;}

.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group { background-color: #5bc0de; }

.dataTable .compareVehiclesButton {
   position: fixed;
   right: 20px;
   z-index: 10;
   bottom: 20px;
   height: 40px;
   background-color: #2e353d;
   border: 2px solid #585252;
   color: #fff;
   font-size: 16px;
   font-weight: bold;
}


.ngx-datatable.scroll-vertical { height: 60vh;}