<mat-card class="dna-login-form">
  <mat-card-title>
    DNA Login
  </mat-card-title>
  <mat-card-subtitle>
    Please login using your DNA username and password.
  </mat-card-subtitle>
  <form>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" placeholder="Username" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" placeholder="Password" [(ngModel)]="password">
      </mat-form-field>
    <mat-button>
      Login
    </mat-button>
  </form>
</mat-card>>
