.dna-login-form{
    width:400px;
    margin:0 auto;
    margin-top:150px;
}

.dna-login-error{
    width:400px;
    margin:0 auto;
    margin-top:10px;
}

.example-full-width{
    width:100%!important;
}

.center{
    margin:0 auto;
    width:200px;
}

.ddc-orange{

}