<div class="row">
  <div class="btn-group pull-right">
    <div class="col-md-6">
      <div class="dropdown" dropdown>
        <button class="btn btn-info" dropdown-open>OEM Pages <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li *ngFor="let oemlink of oemlinks">
            <a href="{{oemlink.href}}" target="_blank" class="{{oemlink.name}}">{{oemlink.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="dropdown" dropdown>
        <button class="btn btn-success" dropdown-open>Quick Links <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li *ngFor="let link of links">
            <a href="{{link.href}}" target="_blank" class="{{link.name}}">{{link.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>