<div class="row">
  <div class="col-xs-10">
    <div *ngIf="!feedEditHidden">
      <app-feed-edit></app-feed-edit>
    </div>
    <div class="feedHidingButtons">
      <div *ngIf="!feedEditHidden">
        <button class="btn btn-danger hideFeed" (click)="hideFeed()">Hide Component</button>
      </div>
      <div *ngIf="feedEditHidden">
        <button class="btn btn-success showFeed" (click)="showFeed()">Show Component</button>
      </div>
    </div>
    <hr>
    <ul class="list-group">
      <a class="list-group-item" style="cursor: pointer" *ngFor="let feed of feeds">{{feed.name}} ({{feed.amount}})</a>
    </ul>
  </div>
</div>