.container {
    width: 95%;
    padding: 0;
}
@media (min-width: 767px) {
    .main-panel {
        background: rgba(203, 203, 210, 0.15);
        position: relative;
        float: right;
        width: calc(100% - 300px);
        min-height: 100%;
    
    }

    #main-container {z-index: 9; padding-top: 20px;}

}

.main-panel#main-container {
    width:100%;
}