.container {
    width: 95%;
    padding: 0;
}
@media (min-width: 767px) {
    .main-panel {
        background: rgba(203, 203, 210, 0.15);
        position: relative;
        float: right;
        width: calc(100% - 300px);
        min-height: 100%;
    
    }


}

.main-panel#main-container {
    width:100%;
    overflow-x: hidden;
}
.nav-side-menu {
  overflow: auto;
  overflow-x: hidden;
  font-size: 12px;
  font-weight: 200;
  position: fixed;
  top: 0px;
  height: 100%;
  z-index:9999;
  background:#2E353D;
}

.nav-side-menu .brand {
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 2px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-side-menu .navbar-collapse.collapse.in .brand, .nav-side-menu .navbar-collapse.collapse.in .menu-list {display: none;}

.navbar-toggle {
    display: inline-block !important;
    margin: 0 auto;
    float: right;
    padding: 10px;
}
.nav-side-menu .navbar-collapse.collapse.in .brand, .nav-side-menu .navbar-collapse.collapse.in .menu-list {
    display: none;
}
.nav-side-menu .navbar-collapse.collapse.in { 
    width:auto;
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  /*.nav-side-menu .navbar-collapse.collapse { width:300px;}*/

  #main {
  	width:calc(100% - 300px);
  	float: right;
  }
}
.nav-side-menu li a {
    display:block;
}

.main-panel#main-container {
    width:100%;
}

.menuContainer.out .nav.menu-list {
    width:100%;
}