<div class="nav-side-menu">
    <div class="brand">Influx Archiver 2.0</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <accordion>
            <accordion-group #group1>
                <div accordion-heading>
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group1?.isOpen, 'glyphicon-chevron-right': !group1?.isOpen}"></i>

                </div>
                <span class="accordianUnderText">This is just some content to illustrate fancy headings.</span>
            </accordion-group>
            <accordion-group #group2>
                <div accordion-heading>
                    <i class="fa fa-car fa-lg"></i> Feeds
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group2?.isOpen, 'glyphicon-chevron-right': !group2?.isOpen}"></i>
                </div>
                <span class="accordianUnderText">This is just some content to illustrate fancy headings.</span>
            </accordion-group>
            <accordion-group #group3>
                <div accordion-heading>
                    <i class="fa fa-user fa-lg"></i> Dealers
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group3?.isOpen, 'glyphicon-chevron-right': !group3?.isOpen}"></i>
                </div>
                <span class="accordianUnderText">This is just some content to illustrate fancy headings.</span>
            </accordion-group>
            <accordion-group #group4>
                <div class="collapsed" accordion-heading>
                            <i class="fa fa-users fa-lg"></i> Users
                        <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group4?.isOpen, 'glyphicon-chevron-right': !group4?.isOpen}"></i>
                </div>
                <span class="accordianUnderText">This is just some content to illustrate fancy headings.</span>
            </accordion-group>
        </accordion>
    </div>
</div>