<div class="nav-side-menu" [@navSlide]="state" (@navSlide.start)="animationStarted($event)" (@navSlide.done)="animationEnded($event)">
    <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn, 'out': !isIn }">
        <div class="brand hvr-underline-reveal">
            <a class="dashTitle" href="/">Influx Archiver 2.0</a>
        </div>
        <!--<div id="nav-icon1" [ngClass]="{ 'closed': IsIn, 'open': !isIn }" (click)="toggleState()">
            <span></span>
            <span></span>
            <span></span>
        </div>-->
        <div id="nav-icon2" [ngClass]="{ 'closed': IsIn, 'open': !isIn }" (click)="toggleState()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div *ngIf="!isIn" class="menu-list">
            <accordion>
                <a panelClass="navPanelItem" href="/">
                    <div class="dashboardLink panel-title">
                        <i class="fa fa-user fa-lg"></i>
                        <span class="navTitle navTitle1">Dealer Search</span>
                    </div>
                </a>
                <accordion-group panelClass="navPanelItem" #group2>
                    <div accordion-heading [ngClass]="{'hvr-icon-bob': group2?.isOpen, 'hvr-icon-hang': !group2?.isOpen}">
                        <i class="fa fa-car fa-lg"></i> <span class="navTitle navTitle2">Feeds</span>
                    </div>
                    <ul class="accordianUnderText">
                        <li><a class="accordionLink" [routerLink]="['/currentfeeds']">Currently Running</a></li>
                    </ul>
                </accordion-group>
                <accordion-group panelClass="navPanelItem" #group3>
                    <div accordion-heading [ngClass]="{'hvr-icon-bob': group3?.isOpen, 'hvr-icon-hang': !group3?.isOpen}">
                        <i class="fa fa-link fa-lg"></i> <span class="navTitle navTitle3">Quick Links</span>
                    </div>
                    <ul class="accordianUnderText">
                        <li *ngFor="let link of links">
                            <a href="{{link.href}}" target="_blank" class="{{link.name}}">{{link.name}}</a>
                        </li>
                    </ul>
                </accordion-group>
                <accordion-group panelClass="navPanelItem" #group4>
                    <div [ngClass]="{'hvr-icon-bob': group4?.isOpen, 'hvr-icon-hang': !group4?.isOpen}" accordion-heading>
                        <i class="fa fa-users fa-lg"></i> <span class="navTitle navTitle4">OEM Pages</span>
                    </div>
                    <ul class="accordianUnderText">
                        <li  *ngFor="let oemlink of oemlinks">
                            <a href="{{oemlink.href}}" target="_blank" class="{{oemlink.name}}">{{oemlink.name}}</a>
                        </li>
                    </ul>
                </accordion-group>
            </accordion>
            <a panelClass="navPanelItem" [routerLink]="['/submitbug']">
                <div class="bugSubmitLink panel-title">
                    <i class="fa fa-bug fa-lg"></i>
                    <span class="navTitle navTitle1">Submit Bug</span>
                </div>
            </a>
            <a panelClass="navPanelItem" [routerLink]="['/issuetracker']">
                <div class="issueTracker panel-title">
                    <i class="fa fa-list-alt fa-lg"></i>
                    <span class="navTitle navTitle1">Issue Tracker</span>
                </div>
            </a>
            <!--<div>
                <li><a class="invLink" href="#/account/volvooflislevcna/vehicles/2/4">Test Inventory</a></li>
            </div>-->
        </div>
        <!--<div *ngIf="isIn">
            <div class="sdevcredit">
                <img src="http://i.imgur.com/9U9dbFV.png" />
            </div>

            <div class="istcredit">
                <img src="http://i.imgur.com/keRkPEB.png" />
            </div>
        </div>-->
    </div>
</div>