<div class="nav-side-menu">
    <div class="brand">Influx Archiver 2.0</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <accordion>
           <a panelClass="navPanelItem" href="#">
                <div class="dashboardLink panel-title">
                    <i class="fa fa-dashboard fa-lg"></i>
                    Dashboard
                </div>
            </a>
            <accordion-group panelClass="navPanelItem" #group2>
                <div accordion-heading>
                    <i class="fa fa-car fa-lg"></i> Feeds
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group2?.isOpen, 'glyphicon-chevron-right': !group2?.isOpen}"></i>
                </div>
                <ul class="accordianUnderText">
                    <li><a class="accordionLink" href="#">Influx</a></li>
                    <li><a class="accordionLink" href="#">Exports</a></li>
                    <li><a class="accordionLink" href="#">Raw Files</a></li>
                    <li><a class="accordionLink" href="#">Configs</a></li>
                </ul>
            </accordion-group>
            <accordion-group panelClass="navPanelItem" #group3>
                <div accordion-heading>
                    <i class="fa fa-user fa-lg"></i> Dealers
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group3?.isOpen, 'glyphicon-chevron-right': !group3?.isOpen}"></i>
                </div>
                 <ul class="accordianUnderText">
                    <li><a class="accordionLink" href="#">Influx</a></li>
                    <li><a class="accordionLink" href="#">Exports</a></li>
                    <li><a class="accordionLink" href="#">Raw Files</a></li>
                    <li><a class="accordionLink" href="#">Configs</a></li>
                </ul>
            </accordion-group>
            <accordion-group panelClass="navPanelItem" #group4>
                <div class="collapsed" accordion-heading>
                    <i class="fa fa-users fa-lg"></i> Users
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group4?.isOpen, 'glyphicon-chevron-right': !group4?.isOpen}"></i>
                </div>
                 <ul class="accordianUnderText">
                    <li><a class="accordionLink" href="#">Influx</a></li>
                    <li><a class="accordionLink" href="#">Exports</a></li>
                    <li><a class="accordionLink" href="#">Raw Files</a></li>
                    <li><a class="accordionLink" href="#">Configs</a></li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
</div>