.menuContainer {
    overflow: auto;
    overflow-x: hidden;
    font-size: 12px;
    font-weight: 200;
    position: fixed;
    top: 0px;
    height: 100%;
    background:#2E353D;
}
/*.menuContainer.out {
    width:300px;
}
.menuContainer.in {
    width:70px;
}*/
.menuContainer .navbar.collapse.in .brand,
.menuContainer .navbar.collapse.in .menu-list {
    display: none;
}
.menuContainer .navbar.collapse.in {
    width: auto;
}
.menuContainer .brand {
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 2px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menuContainer .brand:hover a {
    text-decoration: none;
    color: #FFF;
}
.hvr-underline-from-center:before {
    background: #FFF;
}
.nav-side-menu .navbar-collapse.collapse.in .brand, .nav-side-menu .navbar-collapse.collapse.in .menu-list {display: none;}
/*.nav-side-menu .navbar-collapse.collapse.in { width:auto;}*/

.navbar-toggle {
    display: inline-block !important;
    margin: 0 auto;
    float: right;
    padding: 10px;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;

}
/*.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}*/
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
  border:none;
  border-radius:0;
}
.nav-side-menu .panel.card.panel-default {
    border-radius:0;
    border:none;
    background-color:transparent;
}
.nav-side-menu li a {
    font-size:15px;
}
.nav-side-menu li:hover {
  background-color: #eee;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.nav-side-menu li a:hover {
    text-decoration:none;
}


body {
  margin: 0px;
  padding: 0px;
}
.accordianUnderText a.accordionLink {
    color:#000;
}
.panel .panel-body {
    padding:0;
}
.bugSubmitLink,.issueTracker,.dashboardLink {
    color: #333;
    background-color:#2e353d;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color:#FFF;
}

.dashboardLink:hover,.nav-side-menu .panel:hover,.bugSubmitLink:hover,.issueTracker:hover {
    background-color:#31708f;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.nav-side-menu .panel  {
    background-color:#2e353d;
}
.card.navPanelItem,
.card.navPanelItem .card-header,
.panel.navPanelItem {
  background-color: #5bc0de;
  color: #fff;
}
.panel.navPanelItem .panel-body {
  background-color: #337aa7;
}
.panel-title .navTitle {
    margin-left:20px;
}
/*.nav-side-menu .brand {
    font-size:26px;
}*/
/*.nav-side-menu .brand {
    border-bottom: 2px solid #DE795B;
    border-top: 2px solid #DE795B;
}*/
.nav-side-menu .brand a.dashTitle {
    font-size:24px;
    color:#5bc0de;
    position: relative;
    top: 2px;
}
.nav-side-menu .brand a.dashTitle:hover {
    text-decoration: none;
}

.nav-side-menu .brand {
    line-height:47px;
}

.nav-side-menu {
    z-index: 10;
}

.istcredit {
  position: absolute;
  bottom: 17px;
  right: 0px;
}

.istcredit img {
    max-width: 200%;
    width: 200%;
    position: relative;
    right: 20px;
}

.sdevcredit {
  position: absolute;
  bottom: -82px;
  right: 0px;
}

.sdevcredit img {
    width: 200%;
    max-width: 200%;
    position: relative;
    right: 20px;
}



[class^="hvr-icon"] { display:block;height:100%; }

/* Hide SDEV and IST logos when the sidebar collapses to top */
@media (max-width: 767px) {

  .sdevcredit, .istcredit { display: none; }
  .navbar-collapse.in {overflow-y: hidden;}
}
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #fff;
  opacity: .5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .20s ease-in-out;
  -moz-transition: .20s ease-in-out;
  -o-transition: .20s ease-in-out;
  transition: .20s ease-in-out;
}
.out #nav-icon2 span {
    width:33%;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 9px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 18px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 9px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 19px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 19px;
}
.out #nav-icon2.open {
    margin:0;
    position:absolute;
    width:40px;
}
.navbar-collapse #nav-icon2 {
    top: 12px;
    width:140px;
}
#nav-icon2:hover span {
    background:#5bc0de;
    opacity:1;
}
.navbar-collapse.out #nav-icon2 {
    top: 11px;
    right: -27px;
}
.navbar-collapse:not(.out) #nav-icon2 {
    top:15px;
    left:22px;
}
.nav-side-menu .navTitle {
    position:relative;
}
.nav-side-menu .dashboardLink .navTitle {
    left:16px;
}
.nav-side-menu .navTitle2 {
    left:26px;
}
.nav-side-menu .navTitle3 {
    left:28px;
}
.nav-side-menu .navTitle4 {
    left:28px;
}
.fa.fa-user.fa-lg,.fa.fa-users.fa-lg {
    position:relative;
    left:1px;
}
.fa.fa-dashboard.fa-lg {
    position:relative;
    left:2px;
}
.nav-side-menu .panel:hover, .card.navPanelItem .card-header:hover {
    cursor:pointer;
}
.bugSubmitLink .navTitle {
    position:relative;
    left:16px;
}
.fa.fa-bug.fa-lg,.fa.fa-list-alt.fa-lg {
    position:relative;
    left:3px;
}
.navTitle.navTitle1 {
    position:relative;
    left:14px;
}
.collapse.navbar-collapse.out .menu-list .panel.card.navPanelItem {
    border:none;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .navbar-collapse #nav-icon2 {
    top:15px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    float:right;
    z-index: 10 !important;
    padding: 3px;
    margin: 5px;
    width: 40px;

    text-align: center;
  }
  .nav-side-menu .navbar-collapse.collapse.in {
    padding-right:10px;
  }
  .nav-side-menu .navbar-collapse.collapse.in .brand {
    display: inline-block;
    text-align: left !important;
    font-size: 22px;
    padding-left: 0;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  .nav-side-menu .navbar-collapse.collapse { width:300px;}

  #main {
  	width:calc(100% - 300px);
  	float: right;
  }
}
.fa.fa-link.fa-lg {
    position:relative;
    left:2px;
}
.nav-side-menu li a {
    display:block;
}
.nav-side-menu .panel-title .accordion-toggle .accordion-heading {
    display:block;
}
.hvr-icon-hang, .hvr-icon-bob {
    display: block;
}
@media (max-width: 767px) {
    .menuContainer {
        position: relative;
        margin-bottom: 10px;
    }
    .navbar #nav-icon2 {
        top: 15px;
    }
    .menuContainer .toggle-btn {
        display: block;
        cursor: pointer;
        float: right;
        z-index: 10 !important;
        padding: 3px;
        margin: 5px;
        width: 40px;
        text-align: center;
    }
    .menuContainer .navbar.collapse.in {
        padding-right: 10px;
    }
    .menuContainer .navbar.collapse.in .brand {
        display: block;
        text-align: left !important;
        font-size: 22px;
        padding-left: 0;
        line-height: 50px !important;
    }
}
@media (max-width: 987px) {
    /*.menuContainer {
        display: none;
    }*/
}
.nav.menu-list p {
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
}
.nav>li>a {
    text-align: center;
}
.nav li > a {
    color: #FFFFFF;
    margin: 5px 15px;
    border-radius: 6px;
}
.nav>li>a:hover {
    background-color: none;
}
.nav>li>a p {
    margin-bottom: 0;
}
.nav li:hover,
.nav li:active {
    background-color: #f3834e;
    transition: all 1s ease;
    border-radius: 3px;
}
/*.menuContainer.out .navbar.collapse {
    display: block;
}*/
#nav-icon2.closed {
    position: absolute;
    top: 10px;
    right: 10px;
}
.collapse.navbar.itemContainer,
.nav.menu-list {
    height:90%;
}
.nav.menu-list li {
    padding-left:10px;
    padding-right:0px;
    display:block;
}
/*.menuContainer.in {
    width:70px;
}*/
.menuContainer.in .collapse.navbar.itemContainer {
    display:block;
}
.menuContainer.navbar-collapse.in .brand,
.menuContainer.in .collapse.navbar.itemContainer .nav.menu-list li {
    display:none;
}
.menuContainer.in .collapse.navbar.itemContainer #nav-icon2 {
    top:17px;
    left:0;
    width:40px;
}
.menuContainer.in .collapse.navbar.itemContainer .nav.menu-list .versionNumber {
    display:block;
    left:20%;
}
.menuContainer.in .collapse.navbar.itemContainer .nav.menu-list .versionNumber p {
    font-size:10px;
}

.collapse.navbar.itemContainer.block {
    display:block;
}
.menuContainer {
    z-index: 10;
}
.nav-side-menu {
    overflow: auto;
    overflow-x: hidden;
    font-size: 12px;
    font-weight: 200;
    position: fixed;
    top: 0;
    height: 100%;
}
.menuContainer {
        overflow: auto;
    overflow-x: hidden;
    font-size: 12px;
    font-weight: 200;
    position: fixed;
    top: 0;
    height: 100%;
}

.nav-side-menu.in .menu-list {
    display:none;
}
.menuContainer.out .nav.menu-list {
    width:100%;
}
.menuContainer.navbar-collapse.nav-side-menu.in {
    overflow-y: hidden;
}
.hvr-icon-hang:before,.hvr-icon-bob:before {
    right:-.5em;
}

.navTitle.navTitle4 {
    margin-left: 2px !important;
}