h3.usedNew {
    margin-bottom:0;
    margin-top:0;
}
.type.heading .usedNew {
    position:relative;
    top:10px;
}
.nav a.btn.New {
    background-color:#008992;
    border-color:#008992;
}
.nav a.btn.New:hover {
    background-color:#01646b;
    border-color:#01646b;
}

.row.invbuttons p {
    margin-left: 15px;
    font-weight: bold;
}

.row.invbuttons {
    margin-top: 8px;
    margin-bottom: 15px;
}

.invdropdown li { cursor: pointer; }