img {max-width: 100%; height: auto;}

.feedWins .col-md-2.active, .scrubAtts .col-md-2.active {
    color: green; 
    font-weight: bold; 
    font-size: 1.1em;
}

.feedWins .col-md-2,
.scrubAtts .col-md-2  {
     color: #ccc;
     font-size: 1.1em;
}

.panel-subheading{
   padding-left: 10px;
}

.panel-subheading a {

    margin: 5px; 
   
}
.panel-subheading span a {
    color: #fff;
}

#main-container {
    overflow: auto;
    max-height: 100%;
    height: 100%;
}

.nav a.btn.New {
    background-color:#5bc0de;
    border-color:#5bc0de;
}
.nav a.btn.New:hover {
    background-color:#3F869B;
    border-color:#3F869B;
}

.api {background: #eee; padding: 5px; border: 1px solid #ccc; margin: 5px 0; font-style: normal; 
font-size: 1.1em;}




#main-container > .container {padding-top: 65px;}

.navbar-default.navbar-fixed-top {background: #2E353D !important; border: 0 !important; position: fixed !important; min-height: 60px;}


.dialog {
    position: absolute;
    width: 100%;
    padding: 20px 30px 20px 30px;
    left: 0;
    z-index: 999;
    top:58px;
    background: rgba(66,66,66,.66); 
}
